.jumbotron {
    background-size: 100% 100%;
    background-image:linear-gradient(
        to bottom,
        rgba(205, 215, 247, 0.8),
        rgba(58, 67, 140, 0.8)
    ),
    url(../img/blocks.jpeg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 28rem;
}

.background-a {
    background-color: #d1d2db;
}

.background-b {
    background-color: #a2a7d1;
}

.profile-photo {
    border-radius: 50%;
    width: 15rem;
}

.page-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills-icon{
    color: rgb(243, 230, 205) !important;
}

.skills-icon:hover {
    color:  wheat !important;
}

.popover-body {
    background-color: wheat;
}

.bs-popover-right > .arrow::after {
    left: 1px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: #a7aeeb;
}